@import "../../../scoop/assets/css/style.min.css";

/* Your CSS code goes here
-------------------------------------- */

/* Set logo position */
body.rtl #header.logo-left .logo{
	margin:-50px auto -20px auto !important; 
    float: none !important;
    display: table;
}

/*Set menu to 100% width*/
.nav-main{
    width: 100%;
    margin-top: -80px;
}

ul#menu-meant2b-mainmenu {
    width: 100%;
}

.leftM{
   	float: left !important;
}

/* thryangal bellow main manu - focus menu */

 .sf-menu > li.active > a.sf-with-ul > span:after, .sf-menu > li:hover > a.sf-with-ul > span:after, .sf-menu > li.current-menu-item > a.sf-with-ul > span:after, .sf-menu > li.current-menu-parent > a.sf-with-ul > span:after, .sf-menu > li.current-menu-ancestor > a.sf-with-ul > span:after, .sf-menu > li.current_page_item > a.sf-with-ul > span:after, .sf-menu > li.current_page_paren > a.sf-with-ul > span:after, .sf-menu > li.current_page_ancestor > a.sf-with-ul > span:after {
   border-bottom-color: #999;
   border-top-color: transparent;
}

.sf-menu > li > a.sf-with-ul > span:after {
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 0px solid transparent;
   border-bottom: 20px solid transparent;
}
